<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/filtre.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5/css/all.min.css}">
    <script th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js}"></script>
    <title>Liste</title>
</head>
<body id="body">

    <div id="header" th:replace="~{header :: content}"></div>
    <div id="header" th:replace="~{|liste/${page}| :: content}" ></div>

    
    <script src="@{/js/filtre.js}"></script>
    <script>
    </script>
</body>
</html>